/* Custom styles */

body, 
html {
    margin: 0;
    padding: 0;
    background-color: black;
   
  }
  #customlogo {
    width: 78px;
    height: 64px;
    background-size: 100%;
    display: block;
    float: left;


  }
  .backgroundimg { 
    /* Image*/
    background-image: url("option1.JPG");
     
    /* Full height */
    height: 100vh; 
    
  
    /* Center and scale the image nicely */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .text1 {
      background-color:grey;
      margin-top: 300px;
      border: 3px black ridge;
      float: left;
      font-size: 40px;
      text-align: center;
      color: gainsboro;
  }
  
  .text2 {
    margin-top: 100px;
    color: gainsboro;
  }
