/* Custom styles */

body, 
html {
    margin: 0;
    padding: 0;
    background-color: black;
   
  }
  #navbar {
    background: transparent !important;
  }
  #customlogo {
    width: 90px;
    height: 90px;
    background-size: 100%;
    display: block;
      }
  .backgroundimg { 
    /* Image*/
    background-image: url("option1.JPG");
     
    /* Full height */
    height: 100vh; 
    
  
    /* Center and scale the image nicely */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .text1 {
      background-color:grey;
      margin-top: 300px;
      border: 3px black ridge;
      float: left;
      font-size: 40px;
      text-align: center;
      color: gainsboro;
  }
  
  .text2 {
    margin-top: 100px;
    color: gainsboro;
  }
  /* About me */
  .Aboutme {
    margin-top: 50px;
    
  }

  /* Portfolio  */
  #project{
    margin: 50px 
    
  }

  /* Contact form */
  #contact {
    margin-top: 50px;
    color: gainsboro;
    
  }
  .footer {
      position: fixed;
      left: 0;
      bottom: 0;
    
      width: 100%;
      background-color: #343a40; 
      color: white;
      text-align: center;
    }
  