/* Custom styles */

body, 
html {
    margin: 0;
    padding: 0;
    background-color: black;
   
  }
 
  
  /* .backgroundimg { 
    /* Image*/
    /* background-image: url(""); */
   /* Full height */
    height: 100vh; 
    /* min-height: 300px; */
    /* Center and scale the image nicely */
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    background-size: cover;
  } */

  /* .navbar-brand {
    color: gainsboro;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
  letter-spacing: 2px;
  } */

  .text1 {
      background-color:grey;
      margin-top: 300px;
      border: 3px black ridge;
      float: left;
      font-size: 40px;
      text-align: center;
      color: gainsboro;
  }
  
  .text2 {
    margin-top: 100px;
    color: gainsboro;
  }
  /* About me */
  .Aboutme {
    /* margin-top: 90px; */
    margin: 150px 30px; 
    }

 
  /* Contact form */
  #contact {
    margin-top: 50px;
    color: gainsboro;
    
    /* footer */
  }
  footer {
  position: fixed;
   left: 0;
  bottom: 0;
  width: 100%;
  background-color: #343a40;
   color: white;
  text-align: center;
    }
  